.box { 
    border: 1px solid black; 
    width: 18.6%;
    height: 110px;
    margin-left: 8px;
    margin-top: 8px; 
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: #ccc7c7;
    display: inline-block;
    vertical-align: top;

}
.box2 {
   position: relative;
   top: 50%;
   transform: translateY(-120%);
   text-align: center;
   padding-left: 0px;
}
.box3 {
   position: relative;
   top: 50%;
   transform: translateY(-100%);
   text-align: center;
   padding-left: 0px;
}

body {
    background-image: url('img/preview.jpg');
    font-family: Verdana;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

p {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: -5px;
}
.parent {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    background-color: white; 
    max-width: 1210px;
    margin: auto;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid black;

}
 
@media screen and (max-width: 1100px)
{
    .box {
        width: 23%;
    }
}
@media screen and (max-width: 800px)
{
    .box {
        width: 30%;
    }
}
@media screen and (max-width: 500px)
{
    .box {
        width: 46%;
    }
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}